.goals{
    background-color: transparent !important;
    position: relative !important;
    top: 170px !important;
    /*left: 580px !important;*/
    box-shadow: none !important;
}

.goalsHeader{
    color: #3e3e3f;
    font-size: 47px;
    position: absolute;
    top: 80px;
    left: 300px;
    font-family: Ariel;
}
.goalsTabs{
    position: absolute;
    /*right: 10px;*/
    top:135px;
    width: 78%;
}
.ui.menu{
    margin: auto;
}
.ui.input{
    position: inherit;
}

.ui.segment{
    padding-top: 5px;
    margin: 0px;
}

.ui.steps{
    flex-direction: row-reverse;
}

.ui.steps .step.active {
    background: #89c43e;
}

.rightInput {
    position: relative !important;
    right: 0px;
    /*width: 500px;*/
    padding: 10px;
    height: 270px;
}

.rightInputElements{
    position: absolute !important;
    top: -10px;
    right: 0px;
    float: right;
    height: 270px;
    width: 300px;

}

.rightInputElement{
    float: right;
    padding: 5px;
    dir:rtl;
}

.ui.table thead th{
    padding: 4px;
    background-color: #68922e;
    color: white;
}

.ui.table tr{
    text-align: center;
}
.wizardFoter{
    float: right;
    position: relative;
    bottom: 35px;
    right: 0px;
}
.goalsContent{
    background: url('/assets/images/goalAdmin/040103GoalsAdmin_BGFull01_810x612.png') no-repeat !important;
    width: 900px;
    height: 630px;
    position: absolute;

}
.goalsInput{
    width: 50px;
}
.goalsLabelInput{
    padding-bottom: 15px;
}
