<modal ng-model="showchat" class="chatView">
    <i class="close icon" ng-click="dc.close_modal()" style="top: -4px;right: -7px;"></i>
    <div class="header" style="background: #485655;color: white">
        שיחה
    </div>
    <div class="content" style="background: #485655;height: 300px">

    </div>
    <div class="footer-chat">
        <input ng-model="chat.message">
    </div>
    <div class="actions" style="background: #485655">
        <div class="one fluid ui buttons">

            <div class="ui positive right labeled icon button" style="width: auto">
                סגור
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</modal>