<div class="ui middle aligned center aligned grid">

    <div class="column" ng-if="!loginCtrl.showCreateAccount">
        <!--<h2 class="ui teal image header">-->
            <!--<img src="/assets/images/1109_ROBOTare369x304.png" class="image">-->
            <!--<div class="content">-->
                <!--Log-in to your account-->
            <!--</div>-->
        <!--</h2>-->
        <form class="ui large form" name="loginForm">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="email" name="email" placeholder="Email" ng-model="loginCtrl.user.email" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" ng-model="loginCtrl.user.password" required>
                    </div>
                </div>
                <div class="ui fluid large teal submit button" ng-click="loginCtrl.login(loginForm.$valid)">Login</div>
                <div class="newUser">
                משתמש חדש <a href="" ng-click="loginCtrl.showCreateAccount = true;loginCtrl.error = ''">להרשמה</a>
                </div>
            </div>
            <div class="ui error message" ng-class="{'showError':loginCtrl.error.length > 0}"  >{{loginCtrl.error}}</div>

        </form>


    </div>
    <div class="column" ng-if="loginCtrl.showCreateAccount">
        <h2 class="ui teal image header">
            <img src="/assets/images/1109_ROBOTare369x304.png" class="image">
            <div class="content">
                Create your account
            </div>
        </h2>
        <input type="file" file-reader="loginCtrl.fileContent" />
        <a ng-click="loginCtrl.saveFile()">Save File</a>

        <form class="ui large form" name="userForm">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="text" placeholder="User Name" ng-model="loginCtrl.user.username" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" ng-model="loginCtrl.user.password" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="text" placeholder="First Name" ng-model="loginCtrl.user.firstName" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="text" placeholder="Last Name" ng-model="loginCtrl.user.lastName" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="Email" ng-model="loginCtrl.user.email" required>
                    </div>
                </div>

                <div class="field">
                    <dropdown ng-model="loginCtrl.user.groupId" data="loginCtrl.groups" name="Groups"></dropdown>
                </div>
                <div class="ui fluid large teal submit button" ng-click="loginCtrl.createAccount(userForm.$valid)">Submit</div>
            </div>

            <div class="ui error message">{{loginCtrl.error}}</div>

        </form>

        <div class="ui message">
            <a href="" ng-click="loginCtrl.showCreateAccount = false;loginCtrl.error = ''">Cancel</a>
        </div>
    </div>
</div>

