<div class="dashboard">
    <div class="ui fixed inverted menu">
    <div class="ui container">
        <!--{{dc.userGroup.name}}-->
        <md-button hide-sm class="toolbar-button" aria-label="Search">
            <i class="material-icons">search</i>
        </md-button>
        <md-button hide-sm class="toolbar-button" aria-label="Notifications">
            <i class="material-icons">notifications</i>
            <span class="notifications-label">7</span>
        </md-button>
        <md-button hide-sm class="toolbar-button" aria-label="Settings">
            <i class="material-icons">settings</i>
        </md-button>
        <md-button hide-gt-sm ng-click="dc.toggleItemsList()" aria-label="Menu">
            <i class="material-icons">menu</i>
        </md-button>
    </div>
</div>
<div class="ui three column grid container equal height row ">
    <div class="column" >
        <div class="ui container" style="height: 100vh">
            <div style="height: 50vh"></div>
            <div style="height: 50vh">
                <img src='/assets/images/1001_robotPlatform360x354.png'>
                <img src="/assets/images/1109_ROBOTare369x304.png" class="robot">

            </div>
        </div>
    </div>
    <div class="column" style="width: 45% !important;">
        <div class="ui container" style="height: 100vh;">
            <img src="/assets/images/0501Badges_StarBagdeFull156x142.png" class="animated infinite bounce" style="animation-duration:5s;padding-bottom: 110px">
            <img src="/assets/images/0509Badges_LightballBagdeFull156x242.png" class="animated infinite bounce" style="animation-duration:4s;margin-left: -25px;padding-bottom: 0px">
            <img src="/assets/images/0505Badges_CupBagdeFull156x162.png" class="animated infinite bounce" style="animation-duration:6s;margin-left: -28px;padding-bottom: 100px">
            <img src="/assets/images/0601_ChallangesTablet_bg461x540.png" style="position: absolute;top: 1%;left: -10px">
        </div>
    </div>
    <div class="column" style="padding-top: 50px;width: 225px !important;">
        <div class="ui container" style="height: 100vh;text-align: right">


            <div ng-repeat="item in dc.menuItems" style="padding-bottom: 17px">


                <div id="container">
                    <a href=""> <img id="image" src="/assets/images/{{item.icon}}"/>
                    <p id="text">
                        {{item.name}}<br/> {{dc[item.scopeName].points}}
                    </p>
                    </a>
                </div>


            </div>

        </div>
    </div>

</div>
    </div>

    <!--<div layout="row" flex>-->
        <!--<md-content flex class="md-padding page-content">-->
            <!--<div ui-view>adasd</div>-->
        <!--</md-content>-->
        <!--<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="right"-->
                <!--class="md-whiteframe-z2 md-sidenav-right">-->
            <!--<md-button ng-repeat-start="item in dc.menuItems" layout="column" layout-align="center center"-->
                       <!--flex class="capitalize" ng-click="dc.showCompleteList(item)"-->
                       <!--ui-sref-active="md-warn" >-->
                <!--<div hide-sm hide-md class="md-tile-content">-->
                    <!--<i class="material-icons md-36">{{item.icon}}</i>-->
                <!--</div>-->
                <!--<div class="md-tile-content">-->
                    <!--{{item.name}} {{dc[item.scopeName].points}}-->

                <!--</div>-->
            <!--</md-button>-->
            <!--<md-divider ng-repeat-end></md-divider>-->
        <!--</md-sidenav>-->
    <!--</div>-->


