.dashboard{

    background:
        url('/assets/images/0011mainBG_SmallRobotBG_overlay1364x768.png') no-repeat ,
        url('/assets/images/0003mainBGVars_daylightSnowing1364x768.png') no-repeat;
    background-size:100% auto;

    /*background-size:cover;*/
    /*background:*/
    /*url('/assets/images/0011mainBG_SmallRobotBG_overlay1364x768.png') no-repeat center center fixed,*/
    /*url('/assets/images/0001mainBGVars_daylightCloudy1364x768.png') no-repeat center center fixed;*/
    /*-webkit-background-size:cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*overflow-y: hidden;*/


}
.robot{
    position: fixed;
    bottom: 308px;

    /*left: -4px;*/
}

.robotBase{
    position: fixed;
    bottom: 0;
}
.robotBall{
    position: fixed;
    bottom: 322px;
    /*left: calc(100%-30px);*/
}

.goalAncor{
    position: absolute;
    top: 45px;
    left:30px
}

.firstGoal{
    position: absolute;
    top: 110px;
    left:15px
}
.secondGoal{
    position: absolute;
    top: 160px;
    left:15px
}
.thirdGoal{
    position: absolute;
    top: 210px;
    left:15px
}

.firstStar{
    position: relative;
    top: 10%;
    left: 225px;
}
.secondStar{
    position: relative;
    top: 40%;
    left: 136px;
}
.thirdStar{
    position: relative;
    top: 70%;
    left: 46px;
}

.starContainer{
    position: fixed;
    bottom: 0;
    height: 28vh;
    width: 100vh;
}

#container
{
    height:65px;
    width:65px;
    position:relative;
    text-align: center;
    /*position: absolute;*/
    right: 0px;
}

#image
{
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;
    color:white;
    font-size:12px;
    top:14px;
    width: 100px;
}
.ui.inverted.menu{
    background: #485655;
    height: 70px;
}
.menuButton .label{

    display: block;
    font-size: 12px;
    margin-top: -5px;
    color: white;
}

.menuButton{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding: 0 2px 0px 2px;
}

.menuButton .img{
    padding-top: 4px;
}

.ui.inverted.menu .item{
    padding-left: 0;
    padding-right: 0;
}