<div class="dashboard">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div href="#" class="header vertically menuButton">
                <img  class="menuButton img" src="assets/images/0315TopMenuElements_VideoIconFull52x52.png">
                <label class="menuButton label">תכנים</label>
            </div>
            <div href="#" class="header vertically menuButton">
                <img  class="menuButton img" src="assets/images/0312TopMenuElements_TestsIconFull52x52.png">
                <label class="menuButton label">מבחנים</label>
            </div>
            <div class="item" style="padding-left: 10px;padding-right: 10px">
                (<a ng-click="dc.logout()" style="padding-left: 0;padding-right: 0;" class="item">יציאה</a>)
            </div>
            <label class="item" style="padding-left: 0;padding-right: 0;">{{dc.user.profile.name}}</label><label class="item">:</label> <label class="item">שלום</label>
            <dropdown ng-model="dc.user.groupId" data="dc.groups" name="צוות" style="height:38px;margin:15px 0 0 17%"></dropdown>

            <div href="#" class="header vertically menuButton" style="padding-left: 10px">
                <img  class="menuButton img" src="assets/images/0310TopMenuElements_SettingIconFull52x52.png">
                <label class="menuButton label">הגדרות</label>
            </div>
            <div href="#" class="header vertically menuButton">
                <img  class="menuButton img" src="assets/images/0307TopMenuElements_ShopIconFull52x52.png">
                <label class="menuButton label">חנות</label>
            </div>
            <div href="#" class="header vertically menuButton">
                <img  class="menuButton img" src="assets/images/0304TopMenuElements_HomeIconFull52x52.png">
                <label class="menuButton label">בית</label>
            </div>
            <div href="#" class="header">
                <img  class="logo" style="margin-top: 10px" src="assets/images/0301TopMenuElements_Logo121x37.png">
            </div>

        </div>
    </div>
    <div class="ui three column grid container equal height row ">
        <div class="column" >
            <div class="ui container" style="height: 100vh">
                <div style="height: 50vh">
                    <img src='/assets/images/0701_OpenGoalsNavigatorBG48x179.png' class="goalAncor">
                    <img src='/assets/images/0702_OpenGoalsNavigator_SingleBG80x39.png' class="firstGoal">
                    <img src='/assets/images/0702_OpenGoalsNavigator_SingleBG80x39.png' class="secondGoal">
                    <img src='/assets/images/0702_OpenGoalsNavigator_SingleBG80x39.png' class="thirdGoal">
                </div>
                <div style="height: 50vh;position:absolute " >
                    <img src='/assets/images/1001_robotPlatform360x354.png' class="robotBase">
                    <img ng-src="/assets/images/{{dc.userPref.robotPicName}}_ROBOTare369x304.png" class="robot">
                    <img src='/assets/images/0801_ImpactCoinsIcon83x72.png' class="robotBall">
                    <div class="starContainer">
                        <img src='/assets/images/1003_robotPlatformGoalClosed_1star87x44.png' class="firstStar">
                        <img src='/assets/images/1004_robotPlatformGoalClosed_2stars87x44.png' class="secondStar">
                        <img src='/assets/images/1005_robotPlatformGoalClosed_3stars87x44.png' class="thirdStar">
                    </div>

                </div>
            </div>
        </div>
        <div class="column" style="width: 45% !important;">
            <div class="ui container" style="height: 100vh;">
                <img src="/assets/images/0501Badges_StarBagdeFull156x142.png" class="animated infinite bounce" style="animation-duration:10s;padding-bottom: 110px">
                <img src="/assets/images/0509Badges_LightballBagdeFull156x242.png" class="animated infinite bounce" style="animation-duration:14s;margin-left: -25px;padding-bottom: 0px">
                <img src="/assets/images/0505Badges_CupBagdeFull156x162.png" class="animated infinite bounce" style="animation-duration:12s;margin-left: -28px;padding-bottom: 100px">
                <img src="/assets/images/0601_ChallangesTablet_bg461x540.png" style="position: absolute;top: 42px;left: -10px">
            </div>
        </div>
        <div class="column" style="padding-top: 60px;width: 225px !important;">
            <div class="ui container" style="height: 100vh;text-align: right">
                <div id="container" style="width: 150px;height: 35px">
                    <a href=""> <img id="image" style="position: relative" src="/assets/images/0405SideMenuElements_ViewBy_Campaign24x25.png"/></a>
                    <a href=""> <img id="image" style="position: relative" src="/assets/images/0403SideMenuElements_ViewBy_Day24x25.png"/></a>
                    <a href=""> <img id="image" style="position: relative" src="/assets/images/0401SideMenuElements_ViewBy_Month24x25.png"/></a>
                    <label style="vertical-align: 10px">: תצוגה לפי</label>
                </div>
                <modal ng-model="dc.show_modal">
                    <i class="close icon" ng-click="dc.close_modal()"></i>
                    <div class="header">
                        Change Your Homepage
                    </div>
                    <div class="content">
                        <div class="left">
                            <i class="home icon"></i>
                        </div>
                        <div class="right">
                            <div ng-repeat="item in dc.gp">
                                {{dc.usersMap[item.userId]}} {{item.points}}
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="two fluid ui buttons">
                            <div class="ui negative labeled icon button">
                                <i class="remove icon"></i>
                                No
                            </div>
                            <div class="ui positive right labeled icon button">
                                Yes
                                <i class="checkmark icon"></i>
                            </div>
                        </div>
                    </div>
                </modal>
                <div ng-repeat="item in dc.menuItems" style="padding-bottom: 17px">


                    <div id="container" ng-click="dc.clickMenu($event,item.id)">
                        <a href=""> <img id="image" src="/assets/images/{{item.icon}}"/>
                        <p id="text">
                            {{item.name}}<br/> {{dc[item.scopeName].points}}
                        </p>
                        </a>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>

    <!--<div layout="row" flex>-->
        <!--<md-content flex class="md-padding page-content">-->
            <!--<div ui-view>adasd</div>-->
        <!--</md-content>-->
        <!--<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="right"-->
                <!--class="md-whiteframe-z2 md-sidenav-right">-->
            <!--<md-button ng-repeat-start="item in dc.menuItems" layout="column" layout-align="center center"-->
                       <!--flex class="capitalize" ng-click="dc.showCompleteList(item)"-->
                       <!--ui-sref-active="md-warn" >-->
                <!--<div hide-sm hide-md class="md-tile-content">-->
                    <!--<i class="material-icons md-36">{{item.icon}}</i>-->
                <!--</div>-->
                <!--<div class="md-tile-content">-->
                    <!--{{item.name}} {{dc[item.scopeName].points}}-->

                <!--</div>-->
            <!--</md-button>-->
            <!--<md-divider ng-repeat-end></md-divider>-->
        <!--</md-sidenav>-->
    <!--</div>-->


