<div class="pure-g island1" style="background-color: snow;background-image: none !important;">
    <div class="content pure-u-1">
        <h1><a href="/updateData">Update Data</a> / <a href="/createFile">Create File</a></h1>
        <hr/>
        <h3>1. Login - This section connects your code to a Back& app</h3>
        <div>
            <label class="pure-u-1-12" title="If you do not have an app, please sign up to backand.com and create one.">App Name:</label>
            <input class="pure-u-1-4" type="text" ng-model="start.appName" placeholder="Your Backand app name" title="If tou do not have an app, please sign up to backand.com and create one.">
            <label class="pure-u-1-12" title="If you do not have an app, please sign up to backand.com and create one.">(?)</label>
        </div>
        <div>
            <label class="pure-u-1-12">Username:</label>
            <input class="pure-u-1-4" type="text" ng-model="start.username" placeholder="Your Backand username">
        </div>
        <div>
            <label class="pure-u-1-12">Password:</label>
            <input class="pure-u-1-4" type="password" ng-model="start.password" placeholder="Your Backand password">
        </div>
        <br/>
        <div>
            <div class="pure-u-1-12"></div>
            <button class="pure-u-1-4" ng-click="start.signin()" ng-if="!start.isLoggedIn">Sign In</button>
            <button class="pure-u-1-4" ng-click="start.signout()" ng-if="start.isLoggedIn">Sign Out</button>
            <a class="pure-u-1-4" href="https://www.backand.com/apps/#/sign_up" target="_blank"> ---> I need a Back& app</a>
        </div>
        <br/>
        <label>Status: {{start.results}}</label>
        <hr/>

        <label>2. Read Config File</label><br/>
        <input type="file" on-read-file="start.readConfigFile($fileContent)" />
        <pre>{{start.defaultObject}}</pre>

        <!--<button ng-click="start.loadLatestObjectDataFiltered()">Get Latest Result</button>-->
        <button ng-click="start.startProcess()">Start Collect Data </button>
        <button ng-click="start.generateNewData()">generate New Data on Back& DB</button><br>
        <button ng-click="start.restartNewData()">restart New Data on Back& DB</button><br>


        <!--<h3 ng-if="!start.isLoggedIn">List of Objects - Example of using configuration API (Must sign in first)</h3>-->
        <!--<h3 ng-if="start.isLoggedIn">List of Objects - Example of using configuration API</h3>-->
        <!--<select class="form-control"-->
        <!--ng-options="object.name as object.name for object in start.objects"-->
        <!--ng-model="start.objectSelected"-->
        <!--ng-model-options="{debounce:{default:100}}"-->
        <!--ng-change="start.loadObjectData()">-->
        <!--<option value="">Select an object</option>-->
        <!--</select>-->
        <!--<input type="datetime-local" ng-model="start.selectedDateTime.value">dateTime</input>-->
        <!--<button ng-click="start.loadObjectDataFiltered()">Filtered</button>-->
        <!--<hr/>-->
        <!--<h3>Object - Example of using data API</h3>-->
        <!--<pre>{{start.objectData.length}}</pre>-->
        <!--<pre>{{start.objectData | json}}</pre>-->

        <!--<input type="file" on-read-file="start.showContent($fileContent)" />-->
        <!--<button ng-click="start.uploadData()">Upload Data</button>-->
        <!--<div ng-if="start.content.results.length>0">-->
        <!--<h2>File content is:</h2>-->
        <!--<pre>{{ start.content.results }}</pre>-->
        <!--</div>-->
    </div>
</div>
