<modal ng-model="showfirgunim" class="firgunim">
    <i class="close icon" ng-click="dc.close_modal()" style="top: -107px;right: 103px;"></i>
    <div class="image content firgunimContent" >
        <div class="description">
            <div class="ui grid " style="width: 97%; padding-left: 70px; margin-top: 610px;padding-top:inherit">
                <div class="firgunimHeader">
                     פירגונים לחברים
                </div>

                <div class="firgunimSearch">
                    <dropdownsearch ng-model="selectUser" data="usersRecords" loading="loading"></dropdownsearch>
                    <!--<dropdownsearch ng-model="selectUser" data="usersRecords" name="חפש לפי שם עובד" style="height:40px;"></dropdownsearch>-->
                </div>

                <div class="firgunimSelection" ng-show="selectUser">

                    <div class="ui form firgunimTable">
                        <div class="firgunimNameHeader">
                            פרגן ל :
                            {{selectUser.name}}
                        </div>
                        <div class="grouped fields" ng-show="!showSelectTagState">
                            <form name="myForm" >
                                <div style="padding:5px 0 5px 0">
                                    <label>
כל הכבוד! אין עליך
                                    <input type="radio" ng-model="firgun.text" value="כל הכבוד! אין עליך!">
                                    </label>
                                </div>
                                <div style="padding:5px 0 5px 0">
                                    <label>
ישר כוח, באמת הישג מדהים
                                        <input type="radio" ng-model="firgun.text" value="ישר כח, באמת הישג מדהים!">
                                    </label>
                                </div>
                                <div style="padding:5px 0 5px 0">
                                <label>
                                    וואו! ראוי להערכה
                                    <input type="radio" ng-model="firgun.text" value="וואו! ראוי להערכה">
                                </label>
                                </div>
                                <div style="padding:5px 0 5px 0">
                                    <label>
                                        טקסט חופשי
                                        <input type="radio" ng-model="firgun.text" value="freeText">
                                    </label>
                                </div>
                            </form>

                            <div class="ui grid" style="padding-top: 0px;height: 170px;">
                                <div class="three wide column" style="margin-top: auto;">
                                    <!--<img  class="menuButton img" style="padding-bottom: 5px" ng-click="close_modal()" src="assets/images/Firgunim/030211FirgunimInnerPagesElements_CancelFirgunBtnFull84x21.png">-->
                                    <img  class="menuButton img" ng-click="sendFirgun()" src="assets/images/Firgunim/030201FirgunimInnerPagesElements_submitBtn84x38.png">

                                </div>
                                <div class="two wide column" style="margin-top: auto;">

                                    <img class="menuButton img" ng-click="showSelectTagState = true" src='assets/images/Firgunim/{{selectedTagVisual<10?"0"+selectedTagVisual:selectedTagVisual}}.png'>

                                </div>
                                <div class="two wide column">
                                    <textarea style="width: 340px ; height: 140px;text-align: right" ng-model="firgun.freeText" ng-disabled="firgun.text != 'freeText'" ng-hide="firgun.text != 'freeText'"></textarea>
                                </div>
                            </div>

                        </div>
                        <div ng-show="showSelectTagState">
                            <div class="ui internally celled grid" style="padding-top: 10px">
                                <div class="row">
                                    <div class="four wide column" style="padding-top: 20px">
                                        <img src="assets/images/Firgunim/{{selectedTagVisualMenu}}.png">

                                        <button class="ui button active " ng-click="addSelectedTag()">צרף תג</button>
                                        <img  class="menuButton img" ng-click="cancelSelectedTag();showSelectTagState = false" style="padding-top: 50px" src="assets/images/Firgunim/030212FirgunimInnerPagesElements_CancelBadgeBtnFull84x21.png">

                                    </div>

                                    <div class="ten wide column" style="padding-top: 10px">
                                        <div class="tagsRow ui four column grid "  >
                                            <div class="column tagsColumn" ng-repeat="n in range ">
                                                <div class="ui segment">
                                                    <img ng-click="selectedTag($index)" src='assets/images/Firgunim/0303{{n<10?"0"+n:n}}FirgunimInnerPagesElements_Bages71x71.png'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</modal>